<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nbempire.mimercadolibre">

    <application
        android:name="com.nbempire.mimercadolibre.component.MiMercadoLibreDebugApplication"
        tools:replace="android:name" />

</manifest>
